// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette
$red-color: #a44c66;
$purple-color: #611f69;
$beige-color: #f6efe8; 
$white-color: #ffffff;
$black-color: #1d1d1d;
$blue-color: #4285f4;
$turquoise-color: #36c5f0;

